*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Titanfall;
    src: url(../../Library/Fonts/titanfall.ttf);
}
#navbar-title{
    font-family: 'Titanfall', 'Courier New', Courier, monospace;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.hero{
    font-family: 'Titanfall', 'Courier New', Courier, monospace;
}
.hero #intro-image{
    height: 400px;
    width: 450px;
    border-radius: 5px;

}
header{
   
    background-color: #1f2937;
    color: white;
    padding: 10px 50px 50px 50px;

}
a{
  
    color: white;

}

.top-banner{
    display: flex;
    justify-content: space-between;
    
}
#navbar-links{
    display: flex;
    gap: 25px;
    font-family: TitanFall;


}
.top-middle{
    display: flex;
    justify-content: space-around;
    padding: 50px 50px 5px 5px;
    

}

.top-middle-left{   
    width: 250px;
    text-wrap: wrap;
}

#intro-button{
    background-color: #3883F6;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

}

.middle-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
    flex: 1;

}

.middle-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100px;
    padding: 20px 50px 20px 50px;
    text-wrap: wrap;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    background-color: #E5E7EB;
    gap: 30px;
}

.middle-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.middle-mid .testimonial{
    text-wrap-mode: wrap;
    font-family: Titanfall, 'Courier New', Courier, monospace;
    font-size: small;

}
.middle-bottom .dialogue-box{
    display: flex;
    gap: 50px;
    padding: 30px 30px 30px 30px;
   
    background-color: #3883F6;
    border-radius: 5px;
    color: white;
}
.middle-bottom  #steam-btn{
    background-color: #3883F6;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}


footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;

}